In [7]:
import numpy as np
import pandas as pd
from sklearn.impute import SimpleImputer

In [2]:
file = pd.read_csv('weather.csv')

In [3]:
file.head()

    outlook  Temp  Humidity  Windy Play
0     sunny   NaN       NaN  False   no
1     sunny  80.0      90.0    NaN   no
2  overcast  83.0      86.0    NaN  yes
3     rainy   NaN      96.0  False  yes
4     rainy  68.0      80.0  False  yes

In [4]:
file.isnull().sum()

outlook     2
Temp        4
Humidity    1
Windy       4
Play        0
dtype: int64

In [8]:
imputer = SimpleImputer(missing_values=np.nan, strategy = 'mean')
file.iloc[:,1:3] = imputer.fit_transform(file.iloc[:,1:3])
file

    outlook  Temp   Humidity  Windy Play
0     sunny  71.5  81.333333  False   no
1     sunny  80.0  90.000000    NaN   no
2  overcast  83.0  86.000000    NaN  yes
3     rainy  71.5  96.000000  False  yes
4     rainy  68.0  80.000000  False  yes
5     rainy  65.0  70.000000    NaN   no
6  overcast  64.0  65.000000   True  yes
7     sunny  71.5  95.000000  False   no
8       NaN  69.0  70.000000  False  yes
9       NaN  71.5  80.000000    NaN  yes